You have to work on the [Dogs adoptions](https://drive.google.com/file/d/1wQsA0oB6wwYlnkvvcyBCmLk7QmgVWNax/view?usp=sharing) dataset. 

It contains three files:
*  `dogs.csv`, shortly *dogs*
*  `dogTravel.csv`, shortly *travels*
*  `NST-EST2021-POP.csv`

### Notes

1.    It is mandatory to use GitHub for developing the project.
1.    The project must be a jupyter notebook.
1.    There is no restriction on the libraries that can be used, nor on the Python version.
1.    All questions on the project **must** be asked in a public channel on [Zulip](https://focs.zulipchat.com).
1.    At most 3 students can be in each group. You must create the groups by yourself.
1.    You do not have to send me the project *before* the discussion.

In [1]:
import pandas as pd 
import re 
#To resolve a warning related to pandas object, we type follow instruction
#pd.options.mode.chained_assignment = None  # default='warn'

import warnings
warnings.filterwarnings('ignore')

In [2]:
#import dogs dataset 
dogs=pd.read_csv('dogs.csv')
dogs.head()

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/...,Dog,Dog,American Staffordshire Terrier,Mixed Breed,True,False,White / Cream,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,Harley is not sure how he wound up at shelter ...,70,124.81
1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/...,Dog,Dog,Pit Bull Terrier,Mixed Breed,True,False,Brown / Chocolate,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,6 year old Biggie has lost his home and really...,49,122.07
2,46040898,NV99,https://www.petfinder.com/dog/ziggy-46040898/n...,Dog,Dog,Shepherd,NaN,False,False,Brindle,...,Mesquite,NV,89027,US,89009,2019-09-20,Dog,Approx 2 years old.\n Did I catch your eye? I ...,87,281.51
3,46039877,NV202,https://www.petfinder.com/dog/gypsy-46039877/n...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,Pahrump,NV,89048,US,89009,2019-09-20,Dog,NaN,62,145.83
4,46039306,NV184,https://www.petfinder.com/dog/theo-46039306/nv...,Dog,Dog,Dachshund,NaN,False,False,NaN,...,Henderson,NV,89052,US,89009,2019-09-20,Dog,Theo is a friendly dachshund mix who gets alon...,93,241.09

### Explain problems in data set "Dogs"

In [3]:
#Looking at the dataset, we can see that there are some problems in a few lines. 
#In particular, there are lines in which the attributes are shifted by one value. To explain better, 
#the attribute "posted" is related to the timestamp but when
pd.to_datetime(dogs['posted']) 
#is performed, there is an error cause in some rows the value of "posted" is not a date, but a name of a city. 
#Analysing this problem more, we saw that in some lines, the value of posted is related to "contact_city" and so on for few columns. 
#As a result, we should shift back some values related to columns from "status" to "accessed".

ParserError: Unknown string format: Las Vegas

In [4]:
indexes= dogs[dogs['accessed'].isnull()].index
indexes=list(indexes)
ind_prob=dogs[dogs['accessed'].isnull()]
ind_prob['accessed']=ind_prob['stateQ']
ind_prob['stateQ']=ind_prob['contact_country']
ind_prob['contact_country']=ind_prob['contact_zip']
ind_prob['contact_zip']=ind_prob['contact_state']
ind_prob['contact_state']=ind_prob['contact_city']
ind_prob['contact_city']=ind_prob['posted']
ind_prob['posted']=ind_prob['status']
ind_prob['status']='NULL'

In [5]:
dogs_1=dogs.drop(labels=indexes, axis=0)
dogs_new=pd.concat([dogs_1,ind_prob], ignore_index=True)
dogs_new
#dogs_new is the new data set with corrections

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/...,Dog,Dog,American Staffordshire Terrier,Mixed Breed,True,False,White / Cream,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,Harley is not sure how he wound up at shelter ...,70,124.81
1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/...,Dog,Dog,Pit Bull Terrier,Mixed Breed,True,False,Brown / Chocolate,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,6 year old Biggie has lost his home and really...,49,122.07
2,46040898,NV99,https://www.petfinder.com/dog/ziggy-46040898/n...,Dog,Dog,Shepherd,NaN,False,False,Brindle,...,Mesquite,NV,89027,US,89009,2019-09-20,Dog,Approx 2 years old.\n Did I catch your eye? I ...,87,281.51
3,46039877,NV202,https://www.petfinder.com/dog/gypsy-46039877/n...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,Pahrump,NV,89048,US,89009,2019-09-20,Dog,NaN,62,145.83
4,46039306,NV184,https://www.petfinder.com/dog/theo-46039306/nv...,Dog,Dog,Dachshund,NaN,False,False,NaN,...,Henderson,NV,89052,US,89009,2019-09-20,Dog,Theo is a friendly dachshund mix who gets alon...,93,241.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58175,45916348,WA581,https://www.petfinder.com/dog/cody-45916348/wa...,Dog,Dog,Golden Retriever,Terrier,True,False,Bicolor,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,*Please apply online at www.6dogrees.com to ge...,92,164.55
58176,45733027,WA581,https://www.petfinder.com/dog/gracie-45733027/...,Dog,Dog,Papillon,Cavalier King Charles Spaniel,True,False,Golden,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Gracie\"" a very beautiful 11 pound,fema...",82,168.54
58177,45413997,WA581,https://www.petfinder.com/dog/jameson-45413997...,Dog,Dog,Rat Terrier,Chihuahua,True,False,"Tricolor (Brown, Black, & White)",...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Jameson\"" He is a very handsome 9 pound...",108,297.27
58178,45406516,WA581,https://www.petfinder.com/dog/canelo-45406516/...,Dog,Dog,Chihuahua,Terrier,True,False,Bicolor,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet Canelo a adorable small, tan very sweet...",94,312.10
58179,45264615,WA581,https://www.petfinder.com/dog/noni-45264615/wa...,Dog,Dog,Chihuahua,Terrier,True,False,Black,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Noni\"" She is a Black and white smooth ...",77,290.16

### 1. Extract all dogs with status that is not *adoptable*

In [6]:
dogs_new[dogs_new['status']!='adoptable']

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
58147,41330726,NV173,https://www.petfinder.com/dog/gunther-gunny-41...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,Las Vegas,NV,89146,US,89009,2019-09-20,Dog,Meet handsome 3 year old Gunther. Gunther came...,108,256.88
58148,38169117,AZ414,https://www.petfinder.com/dog/annabelle-annie-...,Dog,Dog,Boxer,Pit Bull Terrier,True,False,Black,...,Chandler,AZ,85249,US,AZ,2019-09-20,Dog,You can fill out an adoption application onlin...,80,130.77
58149,45833989,NY98,https://www.petfinder.com/dog/pepper-courtesy-...,Dog,Dog,Beagle,NaN,False,False,NaN,...,Albany,NY,12220,US,CT,2019-09-20,Dog,This is Pepper. He is a 15 year old tri-color ...,86,180.70
58150,45515547,NY98,https://www.petfinder.com/dog/cooper-courtesy-...,Dog,Dog,Mixed Breed,NaN,False,False,NaN,...,Albany,NY,12220,US,CT,2019-09-20,Dog,"Cooper is 13 years old, but according to a ver...",105,400.82
58151,45294115,NY98,https://www.petfinder.com/dog/daisy-courtesy-l...,Dog,Dog,Basset Hound,NaN,False,False,Brown / Chocolate,...,Albany,NY,12220,US,CT,2019-09-20,Dog,"Ã¢Â€Â¢Basset Hound, female, Ã¢Â€Â¢10 years \n\nDelig...",57,82.61
58152,45229004,NY1436,https://www.petfinder.com/dog/elmo-momo-452290...,Dog,Dog,American Bulldog,NaN,True,False,NaN,...,Saugerties,NY,12477,US,CT,2019-09-20,Dog,"Hello i'm MoMo or Elmo , 7 year old, mixed bre...",73,136.30
58153,45227052,NY1436,https://www.petfinder.com/dog/bianca-pinky-452...,Dog,Dog,Mixed Breed,NaN,False,False,White / Cream,...,Saugerties,NY,12477,US,CT,2019-09-20,Dog,"Hello I'm Bianca, a female, 7 year old mixed b...",107,231.31
58154,45569380,CA1209,https://www.petfinder.com/dog/baby-girl-455693...,Dog,Dog,Maltese,NaN,False,False,White / Cream,...,Bristow,VA,20136,US,DC,2019-09-20,Dog,This 10-year young senior is very sweet and lo...,76,263.63
58155,44694387,MD295,https://www.petfinder.com/dog/king-bert-bertie...,Dog,Dog,Fox Terrier,Chihuahua,True,False,Bicolor,...,Silver Spring,MD,20905,US,DC,2019-09-20,Dog,"\""Bertie\"" came to us from the shelter. He wa...",61,158.84
58156,36978896,VA127,https://www.petfinder.com/dog/maddie-cutie-pat...,Dog,Dog,Alaskan Malamute,NaN,False,False,Bicolor,...,Gettysburg,PA,17325,US,DC,2019-09-20,Dog,Maddie is our little Miss Cutie Patootie! She ...,119,431.66
58157,33218331,VA127,https://www.petfinder.com/dog/bucky-are-u-my-h...,Dog,Dog,Alaskan Malamute,Siberian Husky,True,False,Gray / Blue / Silver,...,Gettysburg,PA,17325,US,DC,2019-09-20,Dog,"Born in August 2014, Bucky has a great sense o...",98,346.67
58158,42092005,PA738,https://www.petfinder.com/dog/chloe-little-ras...,Dog,Dog,Pit Bull Terrier,Pointer,True,False,Black,...,Media,PA,19063,US,DE,2019-09-20,Dog,"Meet Chloe our \""Little Rascal.\",113,279.59
58159,39594038,PA562,https://www.petfinder.com/dog/cozi-h-wilson-lo...,Dog,Dog,Pit Bull Terrier,NaN,True,False,NaN,...,Feasterville,PA,19053,US,DE,2019-09-20,Dog,01.04.19\nHi Folks! IÃ¢Â€Â™m Cozi and IÃ¢Â€Â™m so gl...,88,360.84
58160,45895274,IL688,https://www.petfinder.com/dog/gibson-edgar-gib...,Dog,Dog,Labrador Retriever,NaN,True,False,Brown / Chocolate,...,Paris,IL,61944,US,IL,2019-09-20,Dog,Gibson Edgar is a 12 month old male Lab mix th...,74,121.56
58161,45964719,IN694,https://www.petfinder.com/dog/puppies-berries-...,Dog,Dog,American Staffordshire Terrier,Border Collie,True,False,Black,...,Mooresville,IN,46158,US,IN,2019-09-20,Dog,11 Berry Pups\nIndividual pics will be done. ...,127,429.87
58162,44538917,OH907,https://www.petfinder.com/dog/leila-courtesy-p...,Dog,Dog,Australian Shepherd,Husky,True,False,"Tricolor (Brown, Black, & White)",...,Ross,OH,45061,US,IN,2019-09-20,Dog,THIS IS A COURTESY POST (this means that any a...,92,188.49
58163,41430442,OH907,https://www.petfinder.com/dog/eden-in-training...,Dog,Dog,Hound,NaN,True,False,White / Cream,...,Ross,OH,45061,US,IN,2019-09-20,Dog,Eden is estimated 3 years old and weighs 40 lb...,97,238.60
58164,45907639,IN714,https://www.petfinder.com/dog/coach-chris-mack...,Dog,Dog,Chihuahua,Beagle,True,False,Yellow / Tan / Blond / Fawn,...,Jeffersonville,IN,47131,US,KY,2019-09-20,Dog,"Mack is a 2 year old, 13 pound furry chihuahua...",101,478.36
58165,45362806,OH852,https://www.petfinder.com/dog/liberty-libby-45...,Dog,Dog,Pomeranian,NaN,False,False,NaN,...,Cincinnati,OH,45249,US,KY,2019-09-20,Dog,Liberty came to us on the 3rd of July - she ha...,65,185.05
58166,32590894,IN595,https://www.petfinder.com/dog/samson-sam-32590...,Dog,Dog,Mastiff,Labrador Retriever,True,False,Black,...,Paoli,IN,47454,US,KY,2019-09-20,Dog,DUE TO PROBLEMS WITH THE CURRENT PETFINDER UPD...,116,413.96
58167,31426754,LA256,https://www.petfinder.com/dog/sully-sullivan-3...,Dog,Dog,Pit Bull Terrier,NaN,False,False,Black,...,lake charles,LA,70601,US,LA,2019-09-20,Dog,Hi my name is Sully! I get along with most dog...,122,204.63
58168,46037827,NM133,https://www.petfinder.com/dog/periwinkle-wink-...,Dog,Dog,Australian Shepherd,Spaniel,True,False,Brown / Chocolate,...,Albuquerque,NM,87108,US,NM,2019-09-20,Dog,We take the time to post pertinent information...,85,296.75
58169,44044071,TN669,https://www.petfinder.com/dog/raymond-reddingt...,Dog,Dog,American Staffordshire Terrier,NaN,True,False,Red / Chestnut / Orange,...,Cookeville,TN,38506,US,TN,2019-09-20,Dog,Red is a 4-5 yr old Staffey mix that is a wig...,88,230.12
58170,27521132,TN577,https://www.petfinder.com/dog/norma-rose-rosie...,Dog,Dog,Yellow Labrador Retriever,American Staffordshire Terrier,True,False,Yellow / Tan / Blond / Fawn,...,Nashville,TN,37189,US,TN,2019-09-20,Dog,Robyn's Nest Animal Rescue & SanctuaryNashvill...,93,300.50
58171,38473806,VA486,https://www.petfinder.com/dog/markey-moose-384...,Dog,Dog,Hound,NaN,False,False,White / Cream,...,Rustburg,VA,24588,US,VA,2019-09-20,Dog,"Markey \""Moose\"" first came to us after being ...",78,71.15
58172,34101432,VA628,https://www.petfinder.com/dog/george-boy-georg...,Dog,Dog,Labrador Retriever,NaN,True,False,Yellow / Tan / Blond / Fawn,...,Midlothian,VA,23112,US,VA,2019-09-20,Dog,Contact dojennings@Comcast.net or Debbie Jenni...,115,320.23
58173,45958435,WA581,https://www.petfinder.com/dog/skipper-45958435...,Dog,Dog,Yorkshire Terrier,Terrier,True,False,"Tricolor (Brown, Black, & White)",...,Seattle,WA,98106,US,WA,2019-09-20,Dog,For a quicker response please submit a online ...,102,338.18
58174,45927580,WA581,https://www.petfinder.com/dog/bella-45927580/w...,Dog,Dog,Chihuahua,NaN,False,False,White / Cream,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Bella\"" She is a adorable and 7 pounds ...",102,407.51
58175,45916348,WA581,https://www.petfinder.com/dog/cody-45916348/wa...,Dog,Dog,Golden Retriever,Terrier,True,False,Bicolor,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,*Please apply online at www.6dogrees.com to ge...,92,164.55
58176,45733027,WA581,https://www.petfinder.com/dog/gracie-45733027/...,Dog,Dog,Papillon,Cavalier King Charles Spaniel,True,False,Golden,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Gracie\"" a very beautiful 11 pound,fema...",82,168.54
58177,45413997,WA581,https://www.petfinder.com/dog/jameson-45413997...,Dog,Dog,Rat Terrier,Chihuahua,True,False,"Tricolor (Brown, Black, & White)",...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Jameson\"" He is a very handsome 9 pound...",108,297.27
58178,45406516,WA581,https://www.petfinder.com/dog/canelo-45406516/...,Dog,Dog,Chihuahua,Terrier,True,False,Bicolor,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet Canelo a adorable small, tan very sweet...",94,312.10
58179,45264615,WA581,https://www.petfinder.com/dog/noni-45264615/wa...,Dog,Dog,Chihuahua,Terrier,True,False,Black,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Noni\"" She is a Black and white smooth ...",77,290.16

### 2. For each (primary) breed, determine the number of dogs

In [7]:
dogs_new[['breed_primary', 'id']].groupby('breed_primary').count()

                                    id
breed_primary
Affenpinscher                       17
Afghan Hound                         4
Airedale Terrier                    19
Akbash                               3
Akita                              181
...                                ...
Wirehaired Pointing Griffon          1
Wirehaired Terrier                  60
Xoloitzcuintli / Mexican Hairless   11
Yellow Labrador Retriever          158
Yorkshire Terrier                  360

[216 rows x 1 columns]

### 3. For each (primary) breed, determine the ratio between the number of dogs of `Mixed Breed` and those not of Mixed Breed. Hint: look at the `secondary_breed`.

In [8]:
#In secondary_breed for a number of dogs there is Mixed breed, we have to find them 
dogs_new['y_mix']=dogs_new['breed_secondary']=='Mixed Breed'
dogs_new['n_mix']=dogs_new['breed_secondary']!='Mixed Breed'
ratio= dogs_new[['breed_primary', 'y_mix', 'n_mix']].groupby('breed_primary').sum() 
ratio['ratio']=ratio['y_mix']/ratio['n_mix']
ratio

                                   y_mix  n_mix     ratio
breed_primary
Affenpinscher                          1     16  0.062500
Afghan Hound                           0      4  0.000000
Airedale Terrier                       1     18  0.055556
Akbash                                 0      3  0.000000
Akita                                  6    175  0.034286
...                                  ...    ...       ...
Wirehaired Pointing Griffon            0      1  0.000000
Wirehaired Terrier                     4     56  0.071429
Xoloitzcuintli / Mexican Hairless      0     11  0.000000
Yellow Labrador Retriever              0    158  0.000000
Yorkshire Terrier                     15    345  0.043478

[216 rows x 3 columns]

### 4. For each (primary) breed, determine the earliest and the latest `posted` timestamp.

In [9]:
dogs_new['posted']

0        2019-09-20T16:37:59+0000
1        2019-09-20T16:24:57+0000
2        2019-09-20T14:10:11+0000
3        2019-09-20T10:08:22+0000
4        2019-09-20T06:48:30+0000
                   ...
58175    2019-09-09T17:05:17+0000
58176    2019-08-24T16:32:31+0000
58177    2019-07-31T16:21:07+0000
58178    2019-07-29T21:50:16+0000
58179    2019-07-15T16:57:05+0000
Name: posted, Length: 58180, dtype: object

In [10]:
dogs_new['posted_date']=pd.to_datetime(dogs_new['posted']) 
a= dogs_new[['breed_primary', 'posted_date']].groupby('breed_primary').min()
b= dogs_new[['breed_primary', 'posted_date']].groupby('breed_primary').max()
pd.merge(a,b,on='breed_primary', suffixes=('_earliest','_latest'))

,posted_date_earliest,posted_date_latest
breed_primary,,
Affenpinscher,2012-03-08 10:27:33+00:00,2019-09-14 10:10:51+00:00
Afghan Hound,2017-06-29 23:28:51+00:00,2019-07-27 00:38:48+00:00
Airedale Terrier,2014-06-13 12:59:36+00:00,2019-09-19 18:40:39+00:00
Akbash,2019-07-21 00:35:59+00:00,2019-08-23 17:11:04+00:00
Akita,2012-03-03 09:31:08+00:00,2019-09-20 15:19:57+00:00
...,...,...
Wirehaired Pointing Griffon,2016-06-29 20:03:55+00:00,2016-06-29 20:03:55+00:00
Wirehaired Terrier,2012-11-27 14:07:54+00:00,2019-09-19 22:52:45+00:00
Xoloitzcuintli / Mexican Hairless,2007-02-01 00:00:00+00:00,2019-09-08 11:15:54+00:00
Yellow Labrador Retriever,2010-05-31 00:00:00+00:00,2019-09-20 06:30:27+00:00
Yorkshire Terrier,2012-02-04 17:14:52+00:00,2019-09-20 16:56:38+00:00

### 5. For each state, compute the sex imbalance, that is the difference between male and female dogs. In which state this imbalance is largest?

In [11]:
dogs_new['fem']=dogs_new['sex']=='Female'
dogs_new['male']=dogs_new['sex']=='Male'
sex_imb = dogs_new[['contact_state', 'male', 'fem']].groupby('contact_state').sum()
sex_imb['difference']=sex_imb['male']-sex_imb['fem']
sex_imb[sex_imb['difference']==sex_imb['difference'].max()]
#OH is the state where the imbalance is largest

               male   fem  difference
contact_state
OH             1439  1234         205

### 6. For each pair (age, size), determine the average duration of the stay and the average cost of stay.

In [12]:
dogs_new[['age','size','stay_duration', 'stay_cost']].groupby(['age','size']).mean()

                    stay_duration   stay_cost
age    size
Adult  Extra Large      89.015414  232.591561
       Large            89.531943  238.661141
       Medium           89.421036  238.258977
       Small            89.407479  238.974838
Baby   Extra Large      87.032967  237.180879
       Large            89.701564  238.698827
       Medium           89.577668  237.108131
       Small            89.958291  239.083810
Senior Extra Large      88.861111  235.232361
       Large            88.984298  237.507364
       Medium           89.810052  238.514615
       Small            89.073626  238.282286
Young  Extra Large      90.586345  245.835582
       Large            90.104206  238.149506
       Medium           89.515123  239.304603
       Small            89.814275  241.540069

### 7. Find the dogs involved in at least 3 travels. Also list the breed of those dogs.

In [13]:
travel= pd.read_csv('dogTravel.csv', index_col='index')
n_trav=travel[['id','contact_city']].groupby('id', as_index=False).count()
n_trav=n_trav.rename(columns={"contact_city": "number_trav"})
trav_dogs=pd.merge(dogs_new[['id','breed_primary','breed_secondary','breed_mixed']],n_trav, on='id')
trav_dogs[trav_dogs['number_trav']>=3]

            id        breed_primary breed_secondary  breed_mixed  number_trav
68    45642530                Jindo             NaN        False            4
236   46039420        Border Collie       Retriever         True            4
318   40036107     Pit Bull Terrier             NaN         True            3
578   45851842   Labrador Retriever             NaN        False            3
596   45841145          Mixed Breed             NaN         True            3
...        ...                  ...             ...          ...          ...
4011  38664932     Pit Bull Terrier             NaN        False            3
4012  38495992     Pit Bull Terrier             NaN        False            3
4083  45588395  German Shepherd Dog             NaN         True            3
4112  36978896     Alaskan Malamute             NaN        False            7
4113  33218331     Alaskan Malamute  Siberian Husky         True            7

[563 rows x 5 columns]

### 8. Fix the `travels` table so that the correct state is computed from  the `manual` and the `found` fields. If `manual` is not missing, then it overrides what is stored in `found`.

In [14]:
travel

,id,contact_city,contact_state,description,found,manual,remove,still_there
index,,,,,,,,
0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN
1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Abacos,Bahamas,NaN,NaN
2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Adam,Maryland,NaN,NaN
3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN
4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
6189,40492179,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,NaN,True,NaN
6190,45799729,Eagle Mountain,UT,Shiny is an approximately 4-6-year-old spayed ...,Wyoming,NaN,NaN,NaN
6191,34276515,Newnan,GA,Yanni is a Male Great Pyrenees that we rescue...,Yazmin,NaN,True,NaN
6192,44519341,Dayton,OH,Callie is a 14 year old Chihuahua whose owner ...,Young,Ohio,NaN,NaN
6193,36659999,New York,NY,This guy loves to be outside so a person w/ a ...,Zazu,NaN,True,NaN

In [15]:
indices=travel[travel['manual'].notnull()].index
travel['found'][indices]=travel['manual'][indices]
travel

,id,contact_city,contact_state,description,found,manual,remove,still_there
index,,,,,,,,
0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN
1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Bahamas,Bahamas,NaN,NaN
2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Maryland,Maryland,NaN,NaN
3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN
4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
6189,40492179,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,NaN,True,NaN
6190,45799729,Eagle Mountain,UT,Shiny is an approximately 4-6-year-old spayed ...,Wyoming,NaN,NaN,NaN
6191,34276515,Newnan,GA,Yanni is a Male Great Pyrenees that we rescue...,Yazmin,NaN,True,NaN
6192,44519341,Dayton,OH,Callie is a 14 year old Chihuahua whose owner ...,Ohio,Ohio,NaN,NaN
6193,36659999,New York,NY,This guy loves to be outside so a person w/ a ...,Zazu,NaN,True,NaN

### 9. For each state, compute the ratio between the number of travels and the population.

In [16]:
state_pop= pd.read_csv('NST-EST2021-POP.csv', names=('state', 'population'))
state_pop

                   state  population
0                Alabama   5.024.279
1                 Alaska     733.391
2                Arizona   7.151.502
3               Arkansas   3.011.524
4             California  39.538.223
5               Colorado   5.773.714
6            Connecticut   3.605.944
7               Delaware     989.948
8   District of Columbia     689.545
9                Florida  21.538.187
10               Georgia  10.711.908
11                Hawaii   1.455.271
12                 Idaho   1.839.106
13              Illinois  12.812.508
14               Indiana   6.785.528
15                  Iowa   3.190.369
16                Kansas   2.937.880
17              Kentucky   4.505.836
18             Louisiana   4.657.757
19                 Maine   1.362.359
20              Maryland   6.177.224
21         Massachusetts   7.029.917
22              Michigan  10.077.331
23             Minnesota   5.706.494
24           Mississippi   2.961.279
25              Missouri   6.154.913
26               Montana   1.084.225
27              Nebraska   1.961.504
28                Nevada   3.104.614
29         New Hampshire   1.377.529
30            New Jersey   9.288.994
31            New Mexico   2.117.522
32              New York  20.201.249
33        North Carolina  10.439.388
34          North Dakota     779.094
35                  Ohio  11.799.448
36              Oklahoma   3.959.353
37                Oregon   4.237.256
38          Pennsylvania  13.002.700
39          Rhode Island   1.097.379
40        South Carolina   5.118.425
41          South Dakota     886.667
42             Tennessee   6.910.840
43                 Texas  29.145.505
44                  Utah   3.271.616
45               Vermont     643.077
46              Virginia   8.631.393
47            Washington   7.705.281
48         West Virginia   1.793.716
49             Wisconsin   5.893.718
50               Wyoming     576.851

In [17]:
n_trav= travel[['found', 'id']].groupby('found').count()
new=pd.merge(n_trav, state_pop, left_index=True, right_on='state')
new['population']=new['population'].str.replace('\.','')
new['population']=new['population'].astype(int)
new= new.rename(columns={"id": "n_travels"})
new['ratio']=new['n_travels']/new['population']
new.set_index('state', inplace=True)
new

                n_travels  population         ratio
state
Alabama               338     5024279  6.727333e-05
Arizona                33     7151502  4.614415e-06
Arkansas               61     3011524  2.025553e-05
California            279    39538223  7.056463e-06
Colorado               11     5773714  1.905186e-06
Connecticut            16     3605944  4.437118e-06
Delaware               27      989948  2.727416e-05
Florida               163    21538187  7.567954e-06
Georgia               235    10711908  2.193820e-05
Hawaii                  4     1455271  2.748629e-06
Idaho                   4     1839106  2.174970e-06
Illinois               33    12812508  2.575608e-06
Indiana                17     6785528  2.505332e-06
Iowa                    7     3190369  2.194104e-06
Kansas                  3     2937880  1.021144e-06
Kentucky               99     4505836  2.197151e-05
Louisiana              69     4657757  1.481400e-05
Maine                  13     1362359  9.542272e-06
Maryland              140     6177224  2.266390e-05
Massachusetts          13     7029917  1.849239e-06
Michigan               29    10077331  2.877746e-06
Minnesota              80     5706494  1.401912e-05
Mississippi            62     2961279  2.093690e-05
Missouri               17     6154913  2.762021e-06
Nebraska                4     1961504  2.039252e-06
Nevada                  3     3104614  9.663037e-07
New Hampshire           2     1377529  1.451875e-06
New Jersey             44     9288994  4.736789e-06
New Mexico             84     2117522  3.966901e-05
New York               63    20201249  3.118619e-06
North Carolina        292    10439388  2.797099e-05
North Dakota            2      779094  2.567084e-06
Ohio                   72    11799448  6.101980e-06
Oklahoma               32     3959353  8.082129e-06
Oregon                  2     4237256  4.720036e-07
Pennsylvania           50    13002700  3.845355e-06
Rhode Island            4     1097379  3.645049e-06
South Carolina        221     5118425  4.317734e-05
South Dakota            2      886667  2.255638e-06
Tennessee             144     6910840  2.083683e-05
Texas                 959    29145505  3.290387e-05
Utah                   10     3271616  3.056593e-06
Vermont                 1      643077  1.555024e-06
Virginia              306     8631393  3.545198e-05
Washington             11     7705281  1.427592e-06
West Virginia         117     1793716  6.522772e-05
Wisconsin               7     5893718  1.187705e-06
Wyoming                 1      576851  1.733550e-06

### 10. For each dog, compute the number of days from the `posted` day to the day of last access.

In [18]:
dogs_new['accessed_date']=pd.to_datetime(dogs_new['accessed']) 
dogs_new['posted_date_true']=dogs_new['posted_date'].dt.date
dogs_new['posted_date_true']=pd.to_datetime(dogs_new['posted_date_true']) 
dogs_new['diff']=dogs_new['accessed_date']-dogs_new['posted_date_true']
dogs_new

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,stay_duration,stay_cost,y_mix,n_mix,posted_date,fem,male,accessed_date,posted_date_true,diff
0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/...,Dog,Dog,American Staffordshire Terrier,Mixed Breed,True,False,White / Cream,...,70,124.81,True,False,2019-09-20 16:37:59+00:00,False,True,2019-09-20,2019-09-20,0 days
1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/...,Dog,Dog,Pit Bull Terrier,Mixed Breed,True,False,Brown / Chocolate,...,49,122.07,True,False,2019-09-20 16:24:57+00:00,False,True,2019-09-20,2019-09-20,0 days
2,46040898,NV99,https://www.petfinder.com/dog/ziggy-46040898/n...,Dog,Dog,Shepherd,NaN,False,False,Brindle,...,87,281.51,False,True,2019-09-20 14:10:11+00:00,False,True,2019-09-20,2019-09-20,0 days
3,46039877,NV202,https://www.petfinder.com/dog/gypsy-46039877/n...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,62,145.83,False,True,2019-09-20 10:08:22+00:00,True,False,2019-09-20,2019-09-20,0 days
4,46039306,NV184,https://www.petfinder.com/dog/theo-46039306/nv...,Dog,Dog,Dachshund,NaN,False,False,NaN,...,93,241.09,False,True,2019-09-20 06:48:30+00:00,False,True,2019-09-20,2019-09-20,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58175,45916348,WA581,https://www.petfinder.com/dog/cody-45916348/wa...,Dog,Dog,Golden Retriever,Terrier,True,False,Bicolor,...,92,164.55,False,True,2019-09-09 17:05:17+00:00,False,True,2019-09-20,2019-09-09,11 days
58176,45733027,WA581,https://www.petfinder.com/dog/gracie-45733027/...,Dog,Dog,Papillon,Cavalier King Charles Spaniel,True,False,Golden,...,82,168.54,False,True,2019-08-24 16:32:31+00:00,True,False,2019-09-20,2019-08-24,27 days
58177,45413997,WA581,https://www.petfinder.com/dog/jameson-45413997...,Dog,Dog,Rat Terrier,Chihuahua,True,False,"Tricolor (Brown, Black, & White)",...,108,297.27,False,True,2019-07-31 16:21:07+00:00,False,True,2019-09-20,2019-07-31,51 days
58178,45406516,WA581,https://www.petfinder.com/dog/canelo-45406516/...,Dog,Dog,Chihuahua,Terrier,True,False,Bicolor,...,94,312.10,False,True,2019-07-29 21:50:16+00:00,False,True,2019-09-20,2019-07-29,53 days
58179,45264615,WA581,https://www.petfinder.com/dog/noni-45264615/wa...,Dog,Dog,Chihuahua,Terrier,True,False,Black,...,77,290.16,False,True,2019-07-15 16:57:05+00:00,True,False,2019-09-20,2019-07-15,67 days

### 11. Partition the dogs according to the number of weeks from the `posted` day to the day of last access.

In [19]:
dogs_new['weeks']=dogs_new['diff']//7
dogs_new

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,stay_cost,y_mix,n_mix,posted_date,fem,male,accessed_date,posted_date_true,diff,weeks
0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/...,Dog,Dog,American Staffordshire Terrier,Mixed Breed,True,False,White / Cream,...,124.81,True,False,2019-09-20 16:37:59+00:00,False,True,2019-09-20,2019-09-20,0 days,0 days 00:00:00
1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/...,Dog,Dog,Pit Bull Terrier,Mixed Breed,True,False,Brown / Chocolate,...,122.07,True,False,2019-09-20 16:24:57+00:00,False,True,2019-09-20,2019-09-20,0 days,0 days 00:00:00
2,46040898,NV99,https://www.petfinder.com/dog/ziggy-46040898/n...,Dog,Dog,Shepherd,NaN,False,False,Brindle,...,281.51,False,True,2019-09-20 14:10:11+00:00,False,True,2019-09-20,2019-09-20,0 days,0 days 00:00:00
3,46039877,NV202,https://www.petfinder.com/dog/gypsy-46039877/n...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,145.83,False,True,2019-09-20 10:08:22+00:00,True,False,2019-09-20,2019-09-20,0 days,0 days 00:00:00
4,46039306,NV184,https://www.petfinder.com/dog/theo-46039306/nv...,Dog,Dog,Dachshund,NaN,False,False,NaN,...,241.09,False,True,2019-09-20 06:48:30+00:00,False,True,2019-09-20,2019-09-20,0 days,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58175,45916348,WA581,https://www.petfinder.com/dog/cody-45916348/wa...,Dog,Dog,Golden Retriever,Terrier,True,False,Bicolor,...,164.55,False,True,2019-09-09 17:05:17+00:00,False,True,2019-09-20,2019-09-09,11 days,1 days 13:42:51.428571428
58176,45733027,WA581,https://www.petfinder.com/dog/gracie-45733027/...,Dog,Dog,Papillon,Cavalier King Charles Spaniel,True,False,Golden,...,168.54,False,True,2019-08-24 16:32:31+00:00,True,False,2019-09-20,2019-08-24,27 days,3 days 20:34:17.142857142
58177,45413997,WA581,https://www.petfinder.com/dog/jameson-45413997...,Dog,Dog,Rat Terrier,Chihuahua,True,False,"Tricolor (Brown, Black, & White)",...,297.27,False,True,2019-07-31 16:21:07+00:00,False,True,2019-09-20,2019-07-31,51 days,7 days 06:51:25.714285714
58178,45406516,WA581,https://www.petfinder.com/dog/canelo-45406516/...,Dog,Dog,Chihuahua,Terrier,True,False,Bicolor,...,312.10,False,True,2019-07-29 21:50:16+00:00,False,True,2019-09-20,2019-07-29,53 days,7 days 13:42:51.428571428
58179,45264615,WA581,https://www.petfinder.com/dog/noni-45264615/wa...,Dog,Dog,Chihuahua,Terrier,True,False,Black,...,290.16,False,True,2019-07-15 16:57:05+00:00,True,False,2019-09-20,2019-07-15,67 days,9 days 13:42:51.428571428

In [20]:
dogs_new['weeks']=dogs_new['weeks'].astype(str)
dogs_new['weeks']=dogs_new['weeks'].str.extract(r'^(\d+)')
dogs_new['weeks']=dogs_new['weeks'].astype(int)
dogs_new['weeks']

0        0
1        0
2        0
3        0
4        0
        ..
58175    1
58176    3
58177    7
58178    7
58179    9
Name: weeks, Length: 58180, dtype: int32

In [21]:
partition= dogs_new[['id','weeks']].groupby('weeks').count()
partition=partition.rename(columns={'id':'Number_dogs'})
partition.sort_index()

       Number_dogs
weeks
0             9803
1             6547
2             5764
3             3353
4             2439
...            ...
729              1
746              1
811              1
812              1
852              1

[579 rows x 1 columns]

### 12. Find for duplicates in the `dogs` dataset. Two records are duplicates if they have (1) same breeds and sex, and (2) they share at least 90% of the words in the description field. Extra points if you find and implement a more refined for determining if two rows are duplicates.

In [22]:
#cond1
no_null=dogs_new[dogs_new['description'].notna()]
no_null
a=no_null[['breed_primary', 'breed_secondary', 'sex', 'id']].groupby(['breed_primary', 'breed_secondary','sex']).count()
a= a[a['id']!=1].reset_index()
a= a.rename(columns={"id": "number"})
a

          breed_primary      breed_secondary     sex  number
0                 Akita  German Shepherd Dog  Female       2
1                 Akita  German Shepherd Dog    Male       3
2                 Akita                Hound  Female       2
3                 Akita                Jindo    Male       2
4                 Akita   Labrador Retriever  Female       3
...                 ...                  ...     ...     ...
1874  Yorkshire Terrier             Shih Tzu  Female       2
1875  Yorkshire Terrier             Shih Tzu    Male       8
1876  Yorkshire Terrier              Terrier  Female       7
1877  Yorkshire Terrier              Terrier    Male       5
1878  Yorkshire Terrier   Wirehaired Terrier    Male       3

[1879 rows x 4 columns]

In [23]:
#extract id
dicti={}
for j in range(len(a)):
    dicti[j]=no_null[(no_null['breed_primary']==a.iloc[j]['breed_primary']) & (no_null['breed_secondary']==a.iloc[j]['breed_secondary'])&(no_null['sex']==a.iloc[j]['sex'])]['id']
dicti

{0: 42436    46021163
 42437    46021089
 Name: id, dtype: int64,
 1: 39093    42994498
 39239    28662641
 48876    44589975
 Name: id, dtype: int64,
 2: 15025    36772830
 15133    34447648
 Name: id, dtype: int64,
 3: 17557    45591802
 17560    45591568
 Name: id, dtype: int64,
 4: 26626    45600507
 54711    45845428
 57816    45078019
 Name: id, dtype: int64,
 5: 898      44752747
 6832     46039421
 16327    45926727
 Name: id, dtype: int64,
 6: 1448     45713807
 12071    45479494
 Name: id, dtype: int64,
 7: 19011    43947972
 28782    45509063
 44457    42781633
 Name: id, dtype: int64,
 8: 37967    45923186
 39170    34650124
 Name: id, dtype: int64,
 9: 1265     46036163
 18978    44070616
 27999    42190659
 36987    46016972
 Name: id, dtype: int64,
 10: 42759    45564411
 58118    45813878
 58157    33218331
 Name: id, dtype: int64,
 11: 1512     45381147
 1515     45380618
 2954     46005852
 18815    44378530
 23752    45555559
 24904    37663412
 27468    44803893
 27879    39021333
 40194    45898074
 40905    45604909
 47526    44762406
 48791    44868611
 50971    43500101
 52885    44968255
 56218    45733110
 56219    45732409
 56756    43759521
 56788    42715935
 Name: id, dtype: int64,
 12: 974      44752324
 7986     45286313
 12074    45477466
 14395    42505787
 17321    45695939
 20673    45905166
 22130    42327613
 23497    45725190
 26446    45700883
 26536    45672782
 29697    45184169
 37026    45988578
 52818    45124379
 Name: id, dtype: int64,
 13: 2733     43453578
 40018    45932298
 40024    45931729
 Name: id, dtype: int64,
 14: 25798    45889504
 40016    45932359
 40017    45932317
 40019    45932138
 40020    45932104
 40023    45931760
 40025    45931720
 40026    45931696
 40027    45931670
 40028    45931656
 40029    45931611
 40030    45931579
 40031    45931524
 Name: id, dtype: int64,
 15: 41830    43737753
 47200    45409939
 Name: id, dtype: int64,
 16: 20696    45899273
 45549    46007536
 Name: id, dtype: int64,
 17: 427      45296354
 18325    45030451
 51577    45981199
 Name: id, dtype: int64,
 18: 42960    46033536
 42970    46033384
 42971    46033383
 42974    46033380
 Name: id, dtype: int64,
 19: 42972    46033382
 42973    46033381
 Name: id, dtype: int64,
 20: 12327    45370058
 51093    40501635
 Name: id, dtype: int64,
 21: 5416     40896677
 5503     38419282
 17533    45596360
 18781    44425350
 19347    42435768
 19799    34992788
 23793    45517678
 24709    42892855
 28276    38102045
 30740    45843339
 31176    45497923
 34243    46030256
 44262    44252290
 52699    45287342
 Name: id, dtype: int64,
 22: 368      45578885
 513      44562239
 1517     45380193
 2704     43853983
 2853     38323321
 2880     33830438
 3363     45138249
 5513     38308206
 5548     38169116
 5755     25916183
 7617     45796977
 13691    44270008
 13814    44081540
 19234    43012427
 23159    45880824
 24571    44041085
 25416    45982097
 25925    45850641
 26207    45801787
 26420    45714263
 26875    45448491
 27725    44156793
 28193    38894393
 28246    38386005
 28778    45524169
 29874    43945203
 32460    44541839
 33159    45807902
 38392    45066249
 40272    45872063
 42835    44611803
 44001    45146804
 47488    44873897
 47749    43666112
 48844    44606239
 49922    45009879
 49923    45009873
 49963    44417986
 51082    40828421
 Name: id, dtype: int64,
 23: 21302    45508751
 27630    44465311
 47568    44627406
 48968    44060401
 Name: id, dtype: int64,
 24: 5730     28786611
 44568    41015982
 47472    44943155
 Name: id, dtype: int64,
 25: 4526     45749404
 17019    45782430
 20965    45782390
 23653    45620581
 44110    44842670
 Name: id, dtype: int64,
 26: 20566    45925978
 20567    45925981
 20568    45925980
 20569    45925975
 20570    45925979
 20571    45925974
 20572    45925982
 20573    45925976
 28172    39447615
 Name: id, dtype: int64,
 27: 2575     44897304
 13254    44735771
 14169    43326575
 18300    45074225
 20565    45925977
 21354    45449904
 21628    44915782
 24837    40755966
 28234    38466747
 52822    45121109
 Name: id, dtype: int64,
 28: 21038    45746134
 22699    45986953
 24588    43899242
 25647    45929335
 35829    45078388
 41253    45264054
 43391    45886152
 43713    45669544
 47456    44967207
 Name: id, dtype: int64,
 29: 10217    45914731
 14305    42848747
 18780    44425828
 21814    44425818
 23293    45834471
 24155    45208728
 24167    45196090
 33537    45303399
 34949    38193165
 41258    45263656
 41504    44803483
 42231    37566537
 43108    45989413
 43594    45761362
 43912    45351699
 44163    44686064
 44607    39556479
 44701    37665002
 Name: id, dtype: int64,
 30: 41254    45264011
 41255    45263877
 41256    45263802
 41257    45263743
 Name: id, dtype: int64,
 31: 41796    43893156
 49189    42049950
 Name: id, dtype: int64,
 32: 528      44477567
 1421     45804551
 1500     45436905
 7147     45981101
 7244     45961957
 7245     45961199
 16667    45860938
 17208    45737458
 17446    45638196
 22501    46025477
 22619    46011830
 24259    45031624
 24630    43669398
 24796    41790549
 25309    46010223
 25350    45989541
 45062    45831031
 52893    44956455
 53270    42323792
 54624    45906972
 55393    40082992
 Name: id, dtype: int64,
 33: 3041     45908951
 15799    45988787
 17173    45746104
 17313    45698695
 20918    45813450
 22035    43188856
 22092    42656621
 23568    45695457
 24207    45138812
 24217    45126812
 24261    45029817
 26162    45807992
 26530    45676173
 28604    45935421
 31412    45077146
 31753    43145787
 39776    45974028
 42104    40910628
 50579    45689353
 50967    43547496
 52130    45800590
 52646    45361602
 56191    45765661
 Name: id, dtype: int64,
 34: 4412     45809820
 5075     44557132
 5348     42261880
 7788     45639449
 7790     45639446
 7938     45356289
 8487     41573616
 11100    45776876
 11285    45731805
 11464    45681840
 14968    37700941
 16661    45840000
 16664    45840148
 17587    45581465
 19634    38529952
 27795    43931069
 34955    37913614
 47481    44906198
 49442    39518383
 53371    40058827
 Name: id, dtype: int64,
 35: 586      43663762
 587      43663743
 588      43663728
 683      35395589
 1566     44810089
 4143     45944303
 5278     43313156
 7392     45908904
 7432     45896093
 9508     45977159
 11530    45666679
 13209    44803378
 15303    14547139
 17079    45766321
 17087    45765778
 19673    38419326
 20410    45966850
 21446    45296431
 21490    45228648
 22316    31384836
 26285    45769920
 26528    45676423
 29484    45624097
 30687    45873298
 30903    45803084
 31921    39763145
 34175    30106507
 37513    45454391
 38848    45865690
 38856    45851287
 40461    45812307
 41900    43141313
 42051    41647566
 42915    39776478
 44261    44252329
 44678    38448468
 46914    45770416
 47099    45613699
 47926    37966968
 48946    44204937
 52840    45084391
 53102    44351982
 53468    33221005
 56495    45294984
 56752    43829075
 57946    43721275
 Name: id, dtype: int64,
 36: 11985    45513416
 33831    44371519
 Name: id, dtype: int64,
 37: 27990    42332079
 31134    45588598
 33594    45191896
 33828    44377093
 56574    45065987
 Name: id, dtype: int64,
 38: 45608    45940948
 49999    43598100
 Name: id, dtype: int64,
 39: 2343     45707493
 13193    44812725
 14148    43382008
 24508    44377907
 Name: id, dtype: int64,
 40: 5415     40896681
 5573     37770501
 9721     45960320
 43936    45300339
 Name: id, dtype: int64,
 41: 5561     37983519
 5633     36227126
 14312    42833096
 46411    45957358
 Name: id, dtype: int64,
 42: 2066     45983880
 12882    45047881
 24240    45095688
 24400    44731266
 27742    44099864
 31626    44213807
 32729    45988418
 36844    40224875
 38509    44293753
 47627    44434059
 Name: id, dtype: int64,
 43: 2501     45271907
 15144    34197027
 15724    46005034
 21626    44915829
 22306    33000414
 22307    33000355
 24239    45095759
 28625    45912435
 32901    45941289
 33229    45749148
 36436    45878225
 40344    45846502
 40456    45812300
 44054    45016603
 47362    45159232
 Name: id, dtype: int64,
 44: 20237    46005214
 37277    45859856
 Name: id, dtype: int64,
 45: 2897     24528604
 4283     45889353
 5055     44628972
 5164     44184882
 12978    44972745
 18305    45066663
 22075    42878532
 24767    42390249
 27470    44803840
 34009    42092225
 37825    31240398
 52808    45138715
 54816    45683885
 56151    45805156
 56662    44679762
 Name: id, dtype: int64,
 46: 9063     46013630
 10192    45919138
 11242    45739674
 12850    45067694
 13715    44235343
 13890    43938074
 13921    43880518
 13988    43758855
 14225    43146345
 15027    36747812
 19636    38529943
 22271    37053775
 27409    44940008
 27486    44744552
 35206    46013602
 40167    45905615
 44738    34181027
 49851    45644562
 54192    45857447
 56019    45897333
 56556    45138288
 56688    44505494
 56716    44290664
 Name: id, dtype: int64,
 47: 48182    45973891
 54115    16696712
 Name: id, dtype: int64,
 48: 19902    26983741
 36824    41546167
 Name: id, dtype: int64,
 49: 19909    26023072
 31492    44837940
 41873    43401930
 Name: id, dtype: int64,
 50: 14168    43326569
 24925    35484652
 44730    35312035
 Name: id, dtype: int64,
 51: 8423     42766999
 58161    45964719
 Name: id, dtype: int64,
 52: 5721     28786722
 50997    43073342
 Name: id, dtype: int64,
 53: 567      44065273
 22328    25484897
 28421    19663709
 31177    45497267
 Name: id, dtype: int64,
 54: 825      45706365
 2719     43698987
 5733     28786551
 8764     46027802
 11424    45697595
 13448    44552092
 14052    43623076
 24524    44288235
 27480    44738902
 31791    42762657
 39028    45203750
 43748    45624380
 47288    45276039
 47705    44008522
 49911    45139547
 52265    45734316
 52658    45342002
 57341    44334078
 58112    45813893
 Name: id, dtype: int64,
 55: 650      40688674
 3374     45040410
 5365     41914738
 5534     38308117
 12260    45397054
 13876    43969915
 14087    43529512
 14155    43327953
 20903    45814164
 21220    45591254
 21937    43940940
 22443    46031976
 23220    45856063
 24943    32971099
 29951    42432272
 40160    45905674
 42251    35424958
 43749    45624370
 45663    45871905
 46624    45896501
 48936    44242506
 49887    45384908
 52476    45575695
 56715    44294808
 56744    43983019
 57936    43802323
 Name: id, dtype: int64,
 56: 7943     45350780
 19555    40092600
 26570    45645487
 56811    41536293
 56813    41409476
 Name: id, dtype: int64,
 57: 13857    44006503
 23181    45871948
 Name: id, dtype: int64,
 58: 18027    45288049
 49584    33310135
 Name: id, dtype: int64,
 59: 23567    45695656
 34135    36636251
 49179    42072155
 56791    42610641
 Name: id, dtype: int64,
 60: 35998    41823791
 36309    45991448
 44483    42490477
 45349    44649686
 Name: id, dtype: int64,
 61: 21759    44558847
 45184    45546931
 56354    45570063
 Name: id, dtype: int64,
 62: 12328    45369361
 14750    40390336
 14994    37373667
 43707    45673999
 Name: id, dtype: int64,
 63: 6561     44758490
 49409    40132873
 Name: id, dtype: int64,
 64: 14958    37901840
 45295    45381398
 57346    44231455
 Name: id, dtype: int64,
 65: 11160    45760500
 13648    44333752
 15187    32503458
 19058    43819902
 19145    43500880
 39592    46010979
 39838    45961940
 45999    44108130
 Name: id, dtype: int64,
 66: 12864    45059613
 13281    44718117
 14584    41416339
 14779    39918807
 15184    32669598
 19761    36007688
 19818    34400430
 20285    45987022
 21043    45744040
 21608    44963456
 21879    44191883
 27931    42904058
 41388    45064991
 41767    43978911
 42159    39181641
 42199    38293889
 Name: id, dtype: int64,
 67: 24936    34302798
 30118    29061892
 Name: id, dtype: int64,
 68: 5751     26440827
 5773     14151911
 10257    45910950
 10805    45840658
 11048    45789775
 12202    45412303
 13664    44318673
 14674    41045037
 14747    40512766
 14841    39352398
 15174    33166794
 15249    29291569
 19176    43333426
 20904    45814175
 21546    45106762
 21916    44059552
 22297    34432132
 23351    45814322
 30991    45759548
 32581    46031371
 33535    45309137
 35260    45984373
 35497    45814366
 35499    45814385
 35502    45814397
 35521    45814383
 36635    45334039
 41500    44803542
 41754    40060257
 41834    43731158
 42243    36220336
 42331    23617980
 42356    12863086
 44698    37925313
 45403    42092673
 46513    45934754
 48636    45321233
 49382    41222660
 52921    44895783
 54087    36558879
 55743    46014188
 56320    45632005
 57392    43024146
 57622    45811177
 Name: id, dtype: int64,
 69: 1830     42268676
 2506     45270761
 4844     45360438
 5407     41031221
 5657     35296409
 10418    45891118
 10892    45833210
 12534    45270764
 13563    44427809
 13602    44389438
 14150    43369228
 14288    42903935
 20892    45832794
 20902    45814199
 21604    44997071
 24606    43804924
 32583    46031268
 35100    21450195
 35159    46026640
 35498    45814396
 35501    45814356
 36314    45991119
 37718    44475904
 39849    45960713
 41629    44437165
 44081    44950657
 46054    42206787
 48788    44879938
 48945    44211815
 49272    41717613
 51518    45987758
 52717    45266413
 55749    46014068
 55751    46014001
 56687    44513993
 57608    45811233
 58028    39640463
 Name: id, dtype: int64,
 70: 5447     39927442
 14939    38218089
 33530    45320594
 44681    38447590
 44731    35234154
 Name: id, dtype: int64,
 71: 1064     46041284
 1154     45773706
 1166     45409481
 3799     46026407
 4319     45865130
 7606     45801300
 10401    45894457
 11407    45702048
 14943    38150823
 21953    43850534
 22001    43563042
 22081    42831336
 22554    46020838
 23082    45901600
 23840    45451503
 24547    44149546
 24937    34302705
 29241    45919547
 29785    44622596
 38380    45094652
 39416    46031728
 40196    45898075
 40322    45854776
 44144    44742533
 48588    45445780
 49880    45461070
 50372    45913739
 50581    45688250
 50831    44690490
 56102    45852035
 56488    45325904
 57124    45876982
 58127    45383007
 Name: id, dtype: int64,
 72: 0        46042150
 672      37686939
 1093     45987914
 1127     45906268
 4238     45908164
 4563     45714017
 11381    45707715
 11620    45631013
 12001    45507165
 13766    44151175
 14801    39669521
 14876    38793322
 15008    37213455
 16368    45919158
 17306    45700485
 17511    45605287
 17664    45551666
 19707    37763466
 20710    45898253
 23081    45901872
 23102    45898674
 24152    45209518
 24963    28980142
 29698    45169040
 29859    44139994
 29889    43663632
 33472    45435563
 37885    46011973
 38133    45764741
 39404    46033168
 39501    46020859
 39743    45980626
 39785    45972359
 40195    45898076
 40633    45773500
 43036    46020582
 44268    44228073
 49872    45461095
 50367    45917468
 50509    45763921
 56743    43950147
 Name: id, dtype: int64,
 73: 623      42625430
 5443     39972566
 5452     39821117
 6879     46034916
 9420     45982949
            ...
 54114    21061962
 56089    45856838
 56453    45384616
 56476    45340014
 56850    37765460
 Name: id, Length: 65, dtype: int64,
 74: 1655     41357126
 1656     41342874
 9197     46004976
 9516     45976783
 9744     45958285
 12184    45421070
 12227    45407572
 12413    45340038
 12952    44991147
 12977    44972753
 13491    44510199
 13566    44426379
 13644    44339223
 14044    43651795
 14646    41197579
 14756    40188967
 14952    37987793
 17640    45563816
 18043    45276431
 18754    44467032
 19723    37374359
 19778    35375950
 21713    44687379
 22098    42644345
 27676    44345324
 28238    38465563
 30368    46007651
 30369    46007645
 31178    45494130
 31620    44273245
 34229    46033457
 35868    44875451
 39118    41188921
 42036    41877852
 42326    25108288
 43279    45944014
 43682    45707308
 44618    39423696
 45733    45784698
 46305    45989396
 46902    45773365
 47297    45269816
 47959    34899584
 47971    31987766
 51477    46008285
 51705    45956050
 51799    45927666
 52564    45496809
 52719    45259229
 55145    44722342
 56421    45456294
 56598    44991237
 56600    44991151
 56601    44990907
 56698    44417017
 Name: id, dtype: int64,
 75: 14104    43494443
 24061    45333935
 24698    43003126
 53791    45738839
 Name: id, dtype: int64,
 76: 11226    45741836
 11409    45701240
 13424    44573704
 13761    44159887
 28182    39387199
 43595    45761228
 56211    45741859
 Name: id, dtype: int64,
 77: 4039     45970529
 14353    42672717
 15261    26501282
 Name: id, dtype: int64,
 78: 15266    25785545
 56275    45691152
 Name: id, dtype: int64,
 79: 4989    44889207
 5283    43282158
 Name: id, dtype: int64,
 80: 14394    42515397
 25724    45905649
 25725    45905622
 25726    45905612
 51857    45913110
 Name: id, dtype: int64,
 81: 6128     45916355
 19154    43448338
 25727    45905528
 54821    45683643
 Name: id, dtype: int64,
 82: 13829    44062955
 18289    45089833
 26411    45716256
 33534    45309256
 Name: id, dtype: int64,
 83: 9904     45944289
 11050    45789616
 11058    45788233
 14307    42839963
 14313    42823889
 14788    39790786
 14967    37724814
 15181    32680773
 28606    45935410
 28610    45935234
 31842    41889479
 38085    45814476
 40504    45810938
 49309    41689141
 Name: id, dtype: int64,
 84: 12559    45249932
 12919    45015565
 13647    44334142
 14182    43273828
 14976    37564863
 17516    45602037
 17909    45326834
 39121    41188871
 40499    45810939
 40505    45810940
 44755    30570080
 Name: id, dtype: int64,
 85: 15050    36409979
 40714    45739506
 Name: id, dtype: int64,
 86: 17995    45315892
 44039    45070058
 Name: id, dtype: int64,
 87: 11453    45683645
 16879    45831323
 16896    45831426
 17623    45567113
 17624    45567112
 37989    45909296
 50436    45867889
 Name: id, dtype: int64,
 88: 3019     45938911
 7445     45885507
 7446     45885505
 15053    36381269
 Name: id, dtype: int64,
 89: 27541    44655935
 27543    44655936
 37822    36881961
 Name: id, dtype: int64,
 90: 20785    45873758
 41277    45226225
 55984    45916783
 56670    44633356
 Name: id, dtype: int64,
 91: 7746     45690687
 10019    45934834
 32118    46007003
 44233    44381619
 55929    45938842
 Name: id, dtype: int64,
 92: 13197    44810994
 48587    45445782
 Name: id, dtype: int64,
 93: 7416     45898009
 47434    45031155
 48048    46029076
 Name: id, dtype: int64,
 94: 13842    44032322
 14620    41331152
 Name: id, dtype: int64,
 95: 35618    45743906
 37468    45541578
 51727    45952051
 Name: id, dtype: int64,
 96: 15376    46036880
 20016    46036308
 42551    46041704
 Name: id, dtype: int64,
 97: 8407     43139430
 52173    45782741
 Name: id, dtype: int64,
 98: 24383    44747685
 28973    39823691
 Name: id, dtype: int64,
 99: 5335     42439331
 5536     38259733
 13573    44422805
 25926    45849695
 35632    45721888
 37374    45744742
 38032    45855762
 49009    43811008
 49578    34494957
 57215    45632889
 Name: id, dtype: int64,
 100: 1120     45937987
 5218     43883574
 11045    45789818
 42542    44185852
 43457    45855641
 46553    45923988
 48705    45190931
 57216    45632880
 Name: id, dtype: int64,
 101: 2554     45043570
 32694    46005917
 47695    44048310
 47696    44048311
 47697    44048312
 Name: id, dtype: int64,
 102: 3398     44756922
 15094    35503666
 18849    44310286
 29705    45138587
 32620    46023000
 33639    45058356
 47691    44063608
 51205    46012207
 57556    45916841
 Name: id, dtype: int64,
 103: 7702     45727365
 7703     45727364
 35535    45798303
 48129    45981615
 Name: id, dtype: int64,
 104: 1026     40010693
 5782     46038099
 7761     45676956
 21120    45687807
 34178    29110929
 35310    45948825
 35314    45948797
 35315    45948795
 35999    41608125

In [24]:
#put id in the dataset
for i in range(len(dicti)):
    dicti[i]=dicti[i].values.tolist()
a['id_list']=dicti.values()
a

,breed_primary,breed_secondary,sex,number,id_list
0,Akita,German Shepherd Dog,Female,2,"[46021163, 46021089]"
1,Akita,German Shepherd Dog,Male,3,"[42994498, 28662641, 44589975]"
2,Akita,Hound,Female,2,"[36772830, 34447648]"
3,Akita,Jindo,Male,2,"[45591802, 45591568]"
4,Akita,Labrador Retriever,Female,3,"[45600507, 45845428, 45078019]"
...,...,...,...,...,...
1874,Yorkshire Terrier,Shih Tzu,Female,2,"[45071933, 46036131]"
1875,Yorkshire Terrier,Shih Tzu,Male,8,"[45579559, 46033029, 45889344, 45889036, 45829..."
1876,Yorkshire Terrier,Terrier,Female,7,"[45908725, 36535340, 44404139, 44404138, 45018..."
1877,Yorkshire Terrier,Terrier,Male,5,"[43693991, 42612948, 45965556, 45397822, 45958..."
1878,Yorkshire Terrier,Wirehaired Terrier,Male,3,"[44070750, 45407894, 44822880]"

In [25]:
#from the dataset 'no_null', extract description associated to specific id in 
list_id = a['id_list']
b=[]
lista_def=[]
for i in range(len(list_id)):
    b=[]
    for k in range(len(list_id[i])):
        b.append(no_null[no_null['id']==list_id[i][k]]['description'].values[0])
    lista_def.append(b)

In [26]:
a['description']=lista_def
a

,breed_primary,breed_secondary,sex,number,id_list,description
0,Akita,German Shepherd Dog,Female,2,"[46021163, 46021089]","[Mika is a blend of Akita, Husky and Shepard. ..."
1,Akita,German Shepherd Dog,Male,3,"[42994498, 28662641, 44589975]",[A warrior in a small package. If you want to...
2,Akita,Hound,Female,2,"[36772830, 34447648]","[Please note, this is a courtesy listing for o..."
3,Akita,Jindo,Male,2,"[45591802, 45591568]",[Seon is 11 months and 27 lbs. M\n\nSeon may b...
4,Akita,Labrador Retriever,Female,3,"[45600507, 45845428, 45078019]",[Please contact Snap (adoptions@snap2it.org) f...
...,...,...,...,...,...,...
1874,Yorkshire Terrier,Shih Tzu,Female,2,"[45071933, 46036131]",[Meet Diana! This wheeled girl has been throug...
1875,Yorkshire Terrier,Shih Tzu,Male,8,"[45579559, 46033029, 45889344, 45889036, 45829...",[Scooter and Fudge are very sweet boys. They a...
1876,Yorkshire Terrier,Terrier,Female,7,"[45908725, 36535340, 44404139, 44404138, 45018...",[Meet Lucy! Lucy is a 10 month old Carin Terr...
1877,Yorkshire Terrier,Terrier,Male,5,"[43693991, 42612948, 45965556, 45397822, 45958...",[FELIX IS A HANDSOME LITTLE FELLOW! He is a te...
1878,Yorkshire Terrier,Wirehaired Terrier,Male,3,"[44070750, 45407894, 44822880]",[Look at our Angel Pancho enjoying life his at...

In [27]:
from nltk.cluster.util import cosine_distance
import numpy as np
def get_cosine_similarity(sentence1, sentence2, stopwords=None):
    if stopwords is None:
        stopwords = []

    sentence1 = [w.lower() for w in sentence1]
    sentence2 = [w.lower() for w in sentence2]
    words_all = list(set(sentence1 + sentence2))

    array1 = [0] * len(words_all)
    array2 = [0] * len(words_all)

    for w in sentence1:
        if w in stopwords:
            continue
        array1[words_all.index(w)] += 1

    for w in sentence2:
        if w in stopwords:
            continue
        array2[words_all.index(w)] += 1
    return 1 - cosine_distance(array1, array2)

In [28]:
for i in range(len(list_id)):
    for j in range(len(list_id[i])):
        for k in range(len(list_id[i])-1,j,-1):
            x= a['description'][i][j]
            y= a['description'][i][k]
            if get_cosine_similarity(x,y, stopwords=None)>=0.9:
                S1=x
                S2=y
                Cos=get_cosine_similarity(x,y, stopwords=None)
print(f"\033[1mThe first sentence is \033[0m \n{x}\n\033[1mThe second sentence is \033[0m\n{y} \n\n\033[1mThe similarity value is equal to\033[0m {get_cosine_similarity(x,y,stopwords=None)} \n \n ")

The first sentence is
Bam Bam is approximately a 1 year old Yorkshire Terrier/Wire Haired Terrier ready to find his loving forever home!

Bam Bam is a sweet, & loving boy whom is a gorgeous little boy who loves everyone including kids, and other dogs.  His favorite thing to do is to play, & to be by your side or in your lap.

Bam Bam is fixed, microchipped and vaccinated. He would be a great addition to any family.

Fill out an application today to set up a meet & greet with this sweet boy!!

Application, Reference check, Home check and adoption fee apply.

BRAT Rescue, Inc. at this time conducts adoptions in the Five (5) boroughs of NYC, Long Island, and Southern Westchester County.

BRAT RESCUE INC., is a 501c3 tax exempt organization that rescues dog's and feeds feral animals in Far Rockaway and neighboring towns in Queens and the five boroughs of NYC.
The second sentence is
Buckeye came into our rescue from the owner.  There were issues they were unable to handle.  He was being subjected to a shock collar (he weighs 8 pounds) because it was stated he was a runner.  He also was not neutered.  Flash forward, Buckeye comes when called, is neutered and does well with all the foster dogs.  Since we do not know how he is with children, we do not recommend children under 10 years of age.  He is now a charming little guy that loves attention and gives plenty of kisses.  He is clean in his crate and enjoys his crate when the others are also crated.  He is exposed to large dogs and young puppies (not his ideal favorite) and tolerates all well.

We prefer and adopter that is not a push over but will ensure he stays a nice gentleman that he is now.  He is neutered and up to date on his vaccinations including rabies.  He is also on heartworm & flea preventative.

Buckeye is 6 years old and weighs 8.8 pounds.

Please contact kindhands4paws@gmail.com for an application.  His adoption fee is $250.00

The similarity value is equal to 0.9798076154791401

In [29]:
import time 
start=time.time()
id_1=[]
id_2=[]
descr_1=[]
descr_2=[]
sim=[]
for i in range(len(list_id)):
    for j in range(len(list_id[i])):
        for k in range(len(list_id[i])-1,j,-1):
            x= a['description'][i][j]
            y= a['description'][i][k]
            if get_cosine_similarity(x,y, stopwords=None)>=0.9:
                id_1.append(a['id_list'][i][j])
                id_2.append(a['id_list'][i][k])
                descr_1.append(x)
                descr_2.append(y)
                sim.append(get_cosine_similarity(x,y, stopwords=None))
end=time.time()
t=end-start
final={'id_1':id_1, 'descr_1':descr_1, 'id_2':id_2, 'descr_2':descr_2, 'similarity':sim}
pd.DataFrame.from_dict(final)

,id_1,descr_1,id_2,descr_2,similarity
0,46021163,"Mika is a blend of Akita, Husky and Shepard. S...",46021089,"Yoko is a sweet 10 week old Akita, Husky, Shep...",0.978872
1,42994498,A warrior in a small package. If you want to ...,44589975,OREO and his brother LUDY were found under a h...,0.920485
2,42994498,A warrior in a small package. If you want to ...,28662641,"This smart fellow has it all, good looks, a br...",0.937452
3,28662641,"This smart fellow has it all, good looks, a br...",44589975,OREO and his brother LUDY were found under a h...,0.973067
4,36772830,"Please note, this is a courtesy listing for ou...",34447648,Sadie is around 6-8 years old and she's a real...,0.983449
...,...,...,...,...,...
281428,45965556,"AT PEPPERMINT PIG ANIMAL RESCUE, WE UPDATE ALL...",45397822,Felix and his brother Oscar came to us from a ...,0.956428
281429,45397822,Felix and his brother Oscar came to us from a ...,45958435,For a quicker response please submit a online ...,0.971458
281430,44070750,Look at our Angel Pancho enjoying life his at ...,44822880,Buckeye came into our rescue from the owner. ...,0.972511
281431,44070750,Look at our Angel Pancho enjoying life his at ...,45407894,Bam Bam is approximately a 1 year old Yorkshir...,0.975867
281432,45407894,Bam Bam is approximately a 1 year old Yorkshir...,44822880,Buckeye came into our rescue from the owner. ...,0.979808

In [30]:
#minutes
t/60

15.501316328843435